* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html{
scroll-behavior: smooth;
}
header{
height: calc(100vh - 80px);
}
body{
max-width: 100vw;
overflow-x: hidden;

}
nav {
  height: 80px;
  display: flex;
}
img { 
  width: 100%;
  height: 100%;
  max-height: 50vh;
  
  
  
}
p {
  line-height: 1.5;
}

.nav-container {
  width: 100%;
  max-width: 720px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.logo {
  width: 160px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
.nav-link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7700ff;
  font-weight: 700;
  padding: 8px;
}
.nav-link--primary {
  border: 2px solid #7700ff;
  border-radius: 4px;
}
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
.nav-link--primary:hover {
  color: #00ffff;
  text-decoration: none;
  background: linear-gradient(to top right, #0000ff, #00aeff, #ff0000);
}
#landing {
  padding-bottom: 20%;
  background-color: rgba(100, 66, 200, 0.2);
}

  

.header-container {
  padding-top: 24px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}
.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: #7700ff;
  margin-bottom: 24px;
  text-align: center;
}
h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
 
}
.highlight__p {
  color: #7700ff;
}
button {
  cursor: pointer;
}
button:active {
  transform: translateY(3px);
  background-color: #1159f3;
  color: #7700ff;
}
.brwbks {
  background-color: #7700ff;
  color: #32cbea;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}
.header__img--wrapper {
  padding: 20px;
  z-index: 2;
}
.container {
  padding: 90px 0;
}
.row{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
/*

HIGHLIGHT

*/
#highlights {
  position: relative;
}

#highlights:before, 
#highlights:after{
content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background: url('assets/wave.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
#highlights:before { 

   top: 1px;   
   transform: translateY(-100%);
}

#highlights:after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}
.highlight__para {
  text-align: center;
  max-width: 280px;
}
.highlight__img {
  border: 2px solid #260946;
  color: #7700ff;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  padding-top: 2px;
  
}
.highlight__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
.highlight{
  padding: 26px 24px;
width: calc(100% / 3);
  display: flex;
flex-direction: column;
 justify-content: center;
  align-items: center;

}
/* 

FEATURES 

*/
#feature {
  padding-top: 8vw;
  background-color: rgba(100, 66, 200, 0.2);
}
.book__img{
max-height: 380px;
transition: all 300 ease;
cursor:not-allowed;
}

.book{
width: 25%;
padding: 24px;
}
.books{
display: flex;
flex-wrap: wrap;
overflow: hidden;
}
.book__img--wrapper{
margin-bottom: 9px;
border-radius: 4px;
overflow: hidden;
display: flex;

}
.book__img:hover{
transform: scale(1.05);
}
.book__title{
font-size: 20px;
margin-bottom: 8px;
}
.book__title:hover{
text-decoration: underline;
cursor:  not-allowed;
}
.book__ratings{
margin-bottom: 8px;
color: #fabf2a;
}
.book__price--normal{
text-decoration: line-through;
padding-right: 6px;
color: #bfb5b0;
}
/* 
Latest 
*/

#latest{
padding-top: 8px;
}
#explore{
padding-top: 8px;
background-color: rgba(100, 66, 200, 0.2);

}
.exp {
display: flex;
flex-direction: column;
align-items: center;
padding: 12px 24px;
}
#ft{
background-color: #000000;
padding-top: 10px;

}
.footer__items{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footer__img{
filter: grayscale(1) invert(1);
width: 160px;
display: flex;
justify-content: center;
align-items: center;
}
.footer__text{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.footer__text--word{
padding: 25px;

}
a{
color: #ffffff;
text-decoration: none;
cursor: not-allowed;
}
a:hover{
text-decoration: underline;
}
small{
filter: invert(100%);
display: flex;
justify-content: center;
}