* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  height: 80px;
  display: flex;
}
img {
  width: 100%;
  height: 100%;
  max-height: 50vh; /* Adjusted to fit within the viewport height */
  padding: 20px;
}
.nav-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.logo {
  width: 160px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
.nav-link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7700ff;
  font-weight: 700;
  padding: 8px;
}
.nav-link--primary {
  border: 2px solid #7700ff;
  border-radius: 4px;
}
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
.nav-link--primary:hover {
  color: #00ffff;
  text-decoration: none;
  background: linear-gradient(to top right, #0000ff, #00aeff, #ff0000);
}
#landing {
  background-color: rgba(100, 66, 200, 0.2);
}
header {
  height: calc(100vh - 80px);
}
.header-container {
  padding-top: 24px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: #7700ff;
  margin-bottom: 24px;
  text-align: center;
}
h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}
.highlight__p {
  color: #7700ff;
}
button {
  cursor: pointer;
}
button:active {
  transform: translateY(1px);
  background-color: #1159f3;
  color: #7700ff;
}
.brwbks {
  background-color: #7700ff;
  color: #32cbea;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}
.header__img--wrapper {
  padding: 20px;
}
.container {
  padding: 56px 0;
}
/*HIGHLIGHT*/
